################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication3/obj/
/WebApplication3/bin/
/.vs
/WebApplication3/bin/WebApplication3.dll
/WebApplication3/bin/WebApplication3.dll.config
/WebApplication3/bin/WebApplication3.pdb
/WebApplication3/obj/Debug/WebApplication3.csproj.AssemblyReference.cache
/WebApplication3/obj/Debug/WebApplication3.dll
/WebApplication3/obj/Debug/WebApplication3.pdb
/WebApplication3/obj/Release/Package/PackageTmp/bin/WebApplication3.dll
/WebApplication3/obj/Release/Package/PackageTmp/bin/WebApplication3.pdb
/WebApplication3/obj/Release/WebApplication3.csproj.CoreCompileInputs.cache
/WebApplication3/obj/Release/WebApplication3.csproj.FileListAbsolute.txt
/WebApplication3/obj/Release/WebApplication3.dll
/WebApplication3/obj/Release/WebApplication3.pdb
/WebApplication3/obj/Release/_WPPLastBuildInfo.txt
/WebApplication3/obj/Release/Package/PackageTmp/Web.config
/WebApplication3/obj/Release/TransformWebConfig/original/Web.config
/WebApplication3/obj/Release/TransformWebConfig/transformed/Web.config
/WebApplication3/data.txt
